<div class="app-container">
  <div class="sidebar-container">
    <app-adm-sidebar
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-adm-sidebar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i
        [class]="
          isSidebarCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'
        "
      ></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    <table class="package-table">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Business</th>
          <th>Create Date</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let package of packages">
          <td>
            <div *ngIf="package.image">
              <img
                [src]="'http://localhost:8080' + package.image"
                alt="Package Image"
                class="package-image"
              />
            </div>
          </td>
          <td>{{ package.name }}</td>
          <td>{{ package.unit_price }}</td>
          <td>{{ package.quantity }}</td>
          <td>{{ package.business_id }}</td>
          <td>{{ package.create_date }}</td>
          <td>{{ package.description }}</td>
          <td>
            <a [routerLink]="['/edit-package', package.id]" class="edit-btn"
              ><i class="fa-solid fa-pen-to-square"></i
            ></a>
            <button (click)="onDelete(package.id)" class="delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>
