.container {
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

h1 {
  font-size: 100px;
}

img {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.content {
}

.link_404 {
  color: #fff !important;
  padding: 10px auto;
  margin: 20px 0;
  display: inline-block;
}
