<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>We Accept</h3>
      <div class="payment-container">
        <img [src]="'assets/image/payment/Kpay.png'" class="payment" />
        <img [src]="'assets/image/payment/AYApay.png'" class="payment" />
        <img [src]="'assets/image/payment/wave.png'" class="payment" />
        <img [src]="'assets/image/payment/cb.png'" class="payment" />
      </div>
    </div>
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/contact-us">Contact Us</a>
        <a href="/history">History</a>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <button class="button">
          <i class="fa-brands fa-instagram"></i>
        </button>
        <button class="button">
          <i class="fa-brands fa-whatsapp"></i>
        </button>

        <button class="button">
          <i class="fa-brands fa-x-twitter"></i>
        </button>

        <button class="button">
          <i class="fa-brands fa-youtube"></i>
        </button>

        <button class="button">
          <i class="fa-brands fa-tiktok"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Your Company. All rights reserved.</p>
  </div>
</footer>
