<app-navigation></app-navigation>
<div class="payment-container">
  <div class="payment">
    <!-- QR Codes Section -->
    <div class="qr-codes">
      <div class="qr-code">
        <img [src]="qrCode" alt="QR Code" />
      </div>
    </div>

    <!-- Payment Form -->
    <form class="payment-form" (ngSubmit)="submitPayment()">
      <div class="payment-options">
        <label>
          <input
            type="radio"
            name="payment-type"
            value="kbz-pay"
            [(ngModel)]="paymentType"
            (change)="changeQR('kbz-pay')"
            checked
          />
          <span>KBZ Pay</span>
        </label>
        <label>
          <input
            type="radio"
            name="payment-type"
            value="wave-pay"
            [(ngModel)]="paymentType"
            (change)="changeQR('wave-pay')"
          />
          <span>Wave Pay</span>
        </label>
        <label>
          <input
            type="radio"
            name="payment-type"
            value="aya-pay"
            [(ngModel)]="paymentType"
            (change)="changeQR('aya-pay')"
          />
          <span>AYA Pay</span>
        </label>
        <label>
          <input
            type="radio"
            name="payment-type"
            value="cb-pay"
            [(ngModel)]="paymentType"
            (change)="changeQR('cb-pay')"
          />
          <span>CB Pay</span>
        </label>
      </div>

      <label for="transaction-id">Transaction ID:</label>
      <input
        type="text"
        id="transaction-id"
        name="transaction-id"
        [(ngModel)]="transactionId"
        required
      />

      <label for="total-amount">Total Payment Amount:</label>
      <input
        type="number"
        id="total-amount"
        name="total-amount"
        [value]="totalAmount"
        readonly
      />

      <button type="submit">Submit Payment</button>
    </form>
  </div>

  <!-- Package Section -->
  <div class="packages-list">
    <h4>Selected Package</h4>
    <div class="package-card">
      <div class="package-card-inner">
        <img
          class="package-img"
          [src]="'http://localhost:8080' + packageDetails?.image"
          alt="{{ packageDetails?.name }}"
        />
        <div class="package-details">
          <h5>{{ packageDetails?.name }}</h5>
          <p style="display: none">{{ packageDetails?.id }}</p>
          <p>Unit Price: {{ packageDetails?.unit_price }} MMK</p>
          <p>Chosen Qty: {{ packageDetails?.selectedQuantity }}</p>
          <p>
            Total Price:
            {{
              (packageDetails?.unit_price || 0) *
                (packageDetails?.selectedQuantity || 1)
            }}
            MMK
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
