.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
}

.sidebar-container {
  position: relative;
}

.content {
  flex-grow: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
  background-color: #f4f6f7;
  overflow-y: auto;
  padding: 2rem;
}

.content-expanded {
  margin-left: 50px;
}

.sidebar-toggle-btn {
  position: absolute;
  top: 320px;
  left: 230px;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: #555;
  border: none;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar-toggle-btn:hover {
  background-color: #ecf0f1;
}

.sidebar-toggle-btn.sidebar-collapsed {
  left: 30px;
}
/*---------------------------*/

/* Table Container */


  .btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .card_submit {
    background-color: #fab400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .card_submit:hover {
    background-color: #ecc04e;
  }

  .card_cancel {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .card_cancel:hover {
    background-color: #a71d2a;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }

  .card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  .card_form {
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }
/* Responsive Design */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
    margin-top: 20px;
  }

  .card_form input {
    font-size: 14px;
    padding: 8px;
  }

  .card_submit {
    font-size: 14px;
    padding: 10px 20px;
  }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .form-container {
    width: 90%;
    padding: 15px;
  }

  .card_submit {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .sidebar-container {
    width: 200px;
  }

  .content {
    padding: 15px;
  }
}