<div class="app-container">
  <div class="sidebar-container">
    <app-adm-sidebar
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-adm-sidebar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i
        [class]="
          isSidebarCollapsed
            ? 'fa-solid fa-angle-left'
            : 'fa-solid fa-angle-right'
        "
      ></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    <form #Bform="ngForm" (ngSubmit)="onSubmit(Bform)" class="business-form">
      <div class="photo-upload-section">
        <label for="image-upload" class="upload-label"
          >Upload Business Image</label
        >
        <input
          id="image-upload"
          type="file"
          name="image"
          (change)="onFileChange($event)"
          required
        />
        <div class="image-preview-container" *ngIf="imagePreview">
          <p class="preview-title">Image Preview:</p>
          <img [src]="imagePreview" alt="Image Preview" class="image-preview" />
        </div>
      </div>

      <!-- Main Form Container -->
      <div class="form-content">
        <!-- Left Section: Business Information -->
        <div class="form-section">
          <h4>Business Information</h4>
          <div class="input-group">
            <label for="user-id">User ID</label>
            <input
              id="user-id"
              [(ngModel)]="business.user_id"
              name="user_id"
              placeholder="Enter User ID"
              type="text"
              required
            />
          </div>
          <div class="input-group">
            <label for="business-name">Business Name</label>
            <input
              id="business-name"
              [(ngModel)]="business.name"
              name="name"
              placeholder="Enter Business Name"
              type="text"
              required
            />
          </div>
          <div class="input-group">
            <label for="country">Phone</label>
            <input
              id="country"
              [(ngModel)]="business.phone"
              name="country"
              placeholder="Enter Country"
              type="text"
              required
            />
          </div>
          <div class="input-group">
            <label for="city">Email</label>
            <input
              id="city"
              [(ngModel)]="business.email"
              name="city"
              placeholder="Enter City"
              type="text"
              required
            />
          </div>
          <div class="input-group">
            <label for="street">Latitude</label>
            <input
              id="street"
              [(ngModel)]="business.latitude"
              name="street"
              placeholder="Enter Street"
              type="text"
              required
            />
          </div>
          <div class="input-group">
            <label for="street">Longitude</label>
            <input
              id="street"
              [(ngModel)]="business.longitude"
              name="street"
              placeholder="Enter Street"
              type="text"
              required
            />
          </div>
          <div class="input-group">
            <label for="address">Address</label>
            <input
              id="address"
              [(ngModel)]="business.address"
              name="address"
              placeholder="Enter Address"
              type="text"
              required
            />
          </div>
        </div>

        <div class="categories-list">
          <p>Select Categories</p>
          <div *ngFor="let category of categories">
            <label>
              <input
                type="checkbox"
                [value]="category.id"
                [attr.data-name]="category.name"
                (change)="onCategoryChange($event)"
              />
              {{ category.name }}
            </label>
          </div>
        </div>
        <div class="service-list">
          <p>Select Services</p>
          <div *ngFor="let service of services">
            <label>
              <input
                type="checkbox"
                [value]="service.id"
                (change)="onServiceChange($event)"
              />
              {{ service.name }}
            </label>
          </div>
        </div>
      </div>

      <!-- Button Section -->
      <div class="button-group">
        <button class="submit-button" type="submit">Add</button>
        <button class="cancel-button" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </main>
</div>
