<div class="app-container">
  <div class="sidebar-container">
    <app-adm-sidebar
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-adm-sidebar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i
        [class]="
          isSidebarCollapsed
            ? 'fa-solid fa-angle-left'
            : 'fa-solid fa-angle-right'
        "
      ></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    <div class="dashboard-container">
      <!-- Admin Profile Section -->
      <div class="header">
        <div class="profile-section">
          <img
            [src]="'assets/image/users/user.png'"
            alt="Profile Image"
            class="profile-image"
          />
          <div class="profile-text">
            <p><strong>Name:</strong> {{ userName }}</p>
            <p><strong>Email:</strong> {{ userEmail }}</p>
          </div>
        </div>
        <div class="profile-actions">
          <button class="actions-btn" alt="Notification">
            <i class="fi fi-rr-bell-ring"></i>
          </button>
          <button
            class="actions-btn"
            (click)="navigateTo('/adm-feedback')"
            alt="Feedback"
          >
            <i class="fi fi-rr-comment-alt-dots"></i>
          </button>
          <button class="actions-btn" alt="Edit Profile">
            <i class="fi fi-rr-user-pen"></i>
          </button>
          <button class="actions-btn" (click)="logout()" alt="Logout">
            <i class="fi fi-sr-sign-out-alt"></i>
          </button>
        </div>
      </div>

      <div class="Quantity">
        <div class="Quantity-card" (click)="navigateTo('/adm-user-list')">
          <div>
            <h6>Total Login Users</h6>
            <p>{{ totalLoginUsers }}</p>
          </div>
          <i class="fi fi-rr-users-alt"></i>
        </div>
        <div class="Quantity-card" (click)="navigateTo('/adm-business')">
          <div>
            <h6>Total Businesses</h6>
            <p>{{ totalBusinesses }}</p>
          </div>
          <i class="fi fi-rr-briefcase"></i>
        </div>
        <div class="Quantity-card" (click)="navigateTo('/adm-package')">
          <div>
            <h6>Total Packages</h6>
            <p>{{ totalPackages }}</p>
          </div>
          <i class="fi fi-rr-box-alt"></i>
        </div>
        <div class="Quantity-card" (click)="navigateTo('/adm-coupon')">
          <div>
            <h6>Total Coupon Sales</h6>
            <p>{{ totalCouponSales }}</p>
          </div>
          <i class="fi fi-rr-chart-histogram"></i>
        </div>
      </div>

      <!-- Chart and Pie Chart Section -->
      <div class="charts-container">
        <!-- Bar Chart -->
        <div class="chart-container">
          <h3>Coupon Sales Over Time</h3>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="filteredBarChartData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [xAxisLabel]="'Months'"
            [yAxisLabel]="'Sales'"
            [barPadding]="8"
            [roundEdges]="true"
            [animations]="true"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>

        <!-- Pie Chart -->
        <div class="chart-section">
          <h3>Business Categories</h3>
          <ngx-charts-pie-chart
            [view]="view2"
            [scheme]="colorScheme2"
            [results]="filteredPieChartData"
            [gradient]="gradient2"
            [legend]="showLegend2"
            [doughnut]="true"
            [arcWidth]="0.3"
            [animations]="true"
            (select)="onChartSelect($event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </main>
</div>
