<div class="app-container">
  <div class="sidebar-container">
    <app-adm-sidebar
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-adm-sidebar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i
        [class]="
          isSidebarCollapsed
            ? 'fa-solid fa-angle-left'
            : 'fa-solid fa-angle-right'
        "
      ></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    <div class="dashboard-container">
      <!-- Admin Profile Section -->
      <div class="header">
        <div class="profile-section">
          <img [src]="profileImage" alt="Profile Image" class="profile-image" />
          <div class="profile-text">
            <p><strong>Name:</strong> {{ userName }}</p>
            <p><strong>Email:</strong> {{ userEmail }}</p>
          </div>
        </div>
        <div class="profile-actions">
          <button class="actions-btn" alt="Notification">
            <i class="fi fi-rr-bell-ring"></i>
            <span class="tooltip">Notification</span>
          </button>
          <button
            class="actions-btn"
            (click)="navigateTo('/adm-feedback')"
            alt="Feedback"
          >
            <i class="fi fi-rr-comment-alt-dots"></i>
            <span class="tooltip">Feedback</span>
          </button>
          <button
            class="actions-btn"
            alt="View Profile"
            (click)="navigateTo('/adm-profile')"
          >
            <i class="fi fi-rr-portrait"></i>
            <span class="tooltip">Profile</span>
          </button>
          <button class="actions-btn" (click)="logout()" alt="Logout">
            <i class="fi fi-sr-sign-out-alt"></i>
            <span class="tooltip">Logout</span>
          </button>
        </div>
      </div>

      <div class="Quantity">
        <div class="Quantity-card" (click)="navigateTo('/adm-user-list')">
          <div>
            <h6>Total Login Users</h6>
            <p>{{ totalLoginUsers }}</p>
          </div>
          <i class="fi fi-rr-users-alt"></i>
        </div>
        <div class="Quantity-card" (click)="navigateTo('/adm-business')">
          <div>
            <h6>Total Businesses</h6>
            <p>{{ totalBusinesses }}</p>
          </div>
          <i class="fi fi-rr-briefcase"></i>
        </div>
        <div class="Quantity-card" (click)="navigateTo('/adm-package')">
          <div>
            <h6>Total Packages</h6>
            <p>{{ totalPackages }}</p>
          </div>
          <i class="fi fi-rr-box-alt"></i>
        </div>
        <div class="Quantity-card" (click)="navigateTo('/adm-coupon')">
          <div>
            <h6>Total Coupon Sales</h6>
            <p>{{ totalCouponSales }}</p>
          </div>
          <i class="fi fi-rr-chart-histogram"></i>
        </div>
      </div>

      <!-- Chart and Pie Chart Section -->
      <div class="charts-container">
        <!-- Bar Chart -->
        <div class="chart-container">
          <h3>Coupon Sales Over Time</h3>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="filteredBarChartData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [xAxisLabel]="'Months'"
            [yAxisLabel]="'Sales'"
            [barPadding]="8"
            [roundEdges]="true"
            [animations]="true"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>

        <!-- Pie Chart -->
        <div class="chart-section">
          <h3>Business Categories</h3>
          <ngx-charts-pie-chart
            [view]="view2"
            [scheme]="colorScheme2"
            [results]="filteredPieChartData"
            [gradient]="gradient2"
            [legend]="showLegend2"
            [doughnut]="true"
            [arcWidth]="0.3"
            [animations]="true"
            (select)="onChartSelect($event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="loading">Loading purchases...</div>
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
    <div *ngIf="!isLoading && !errorMessage">
      <table class="table">
        <thead>
          <tr>
            <th>User Photo</th>
            <th>User Name</th>
            <th>Total Amount</th>
            <th>Total Quantity</th>
            <th>Payment Type</th>
            <th>Transaction ID</th>
            <th>Purchase Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of purchases">
            <td>
              <img
                *ngIf="purchase.user_photo"
                [src]="'http://localhost:8080' + purchase.user_photo"
                alt="User Photo"
                class="user-photo"
              />
            </td>
            <td>{{ purchase.user_name }}</td>
            <td>{{ purchase.total_amount | currency }}</td>
            <td>{{ purchase.total_quantity }}</td>
            <td>{{ purchase.payment_type }}</td>
            <td>{{ purchase.transaction_id }}</td>
            <td>{{ purchase.purchase_date | date : "short" }}</td>
            <td><button>Accept</button><button>Decline</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
