<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading && errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<table *ngIf="!loading && !errorMessage" class="feedback-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <!-- <th>Professionalism</th> -->
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feedback of feedbackList">
      <td>{{ feedback.id }}</td>
      <td>{{ feedback.name }}</td>
      <td>{{ feedback.email }}</td>
      <!-- <td>{{ feedback.professional }}</td> -->
      <td>{{ feedback.message }}</td>
    </tr>
  </tbody>
</table>

<!-- If no feedback is available -->
<div *ngIf="!loading && feedbackList.length === 0">
  No feedback available.
</div>

