<div class="app-container">
  <div class="sidebar-container">
    <app-adm-sidebar
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-adm-sidebar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i
        [class]="
          isSidebarCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'
        "
      ></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    <div style="display: flex; align-items: center; margin-bottom: 10px">
      <h3 style="text-align: left; margin-right: 10px">Business List</h3>
      <div class="dropdown">
        <button class="dropdown-button" (click)="Dropdown()">
          <i class="fi fi-rr-angle-small-down"></i>
        </button>
        <div
          class="list-btn-container"
          [style.display]="isDropdownVisible ? 'block' : 'none'"
        >
          <button class="list-button" routerLink="/adm-categorylist">
            Category List
          </button>
          <button class="list-button" routerLink="/adm-servicelist">
            Service List
          </button>
        </div>
      </div>
    </div>
    <div
      class="card-container"
      [ngClass]="{
        'expanded-layout': isSidebarCollapsed,
        'collapsed-layout': !isSidebarCollapsed
      }"
    >
      <div *ngFor="let business of showBusiness" class="business-card">
        <div *ngIf="business.image" class="business-image">
          <img
            [src]="'http://localhost:8080' + business.image"
            alt="Package Image"
          />
        </div>
        <div class="card-info">
          <h3>{{ business.name }}</h3>
          <p>ID: {{ business.id }}</p>
          <p>Address: {{ business.address }}</p>
          <p>Country: {{ business.country }}</p>
          <p>City: {{ business.city }}</p>
          <p>Categories: {{ business.categoryName.join(", ") }}</p>
          <p>Services: {{ business.serviceName.join(", ") }}</p>
        </div>
        <div class="btn-container">
          <button
            class="card_submit"
            [routerLink]="['/Package/create/', business.id]"
          >
            Add Package
          </button>
          <!-- Dots Menu -->
          <div class="dots-menu">
            <button class="dots-btn" (click)="toggleDotsMenu(business.id)">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div
              class="dots-dropdown"
              *ngIf="dotsMenuOpenId === business.id"
              [@dotsDropdown]="
                dotsMenuOpenId === business.id ? 'open' : 'closed'
              "
            >
              <button
                class="dropdown-item"
                [routerLink]="['/Business/edit', business.id]"
              >
                Edit
              </button>
              <button
                class="dropdown-item"
                (click)="onDeleteBusiness(business.id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="floating-btn-dropdown">
    <button class="floating-add-btn" (click)="toggleDropdown()">
      <i class="fas fa-plus"></i>
    </button>
    <div class="dropdown-menu" [class.dropdown-visible]="isDropdownOpen">
      <button class="dropdown-item" routerLink="/Business/create">
        Add Business
      </button>
      <button class="dropdown-item" routerLink="Category/create">
        Add Category
      </button>
      <button class="dropdown-item" routerLink="/Service/create">
        Add Service
      </button>
    </div>
  </div>
</div>
