<app-navigation></app-navigation>

<!-- Filter Section -->
<div class="filter-container">
  <div class="filter-item">
    <label for="searchText">Business Name</label>
    <input
      type="text"
      id="searchText"
      [(ngModel)]="searchText"
      (input)="filterPackages()"
      placeholder="Search by business"
    />
  </div>
  <div class="filter-item">
    <label for="minPrice">Min Price</label>
    <input
      type="number"
      id="minPrice"
      [(ngModel)]="minPrice"
      (input)="filterPackages()"
      placeholder="Min Price"
    />
  </div>
  <div class="filter-item">
    <label for="maxPrice">Max Price</label>
    <input
      type="number"
      id="maxPrice"
      [(ngModel)]="maxPrice"
      (input)="filterPackages()"
      placeholder="Max Price"
    />
  </div>
</div>

<!-- Packages Section -->
<div
  *ngIf="submittedPackage && submittedPackage.length > 0"
  class="packages-container"
>
  <div class="package-card" *ngFor="let package of submittedPackage">
    <div *ngIf="package.image" class="package-image-container">
      <img
        [src]="'http://localhost:8080' + package.image"
        alt="Package Image"
        class="package-image"
      />
    </div>
    <div class="package-info">
      <h3 class="package-name">{{ package.name }}</h3>
      <p class="package-qty">
        Expired date: {{ package.expired_date | date : "dd-MM-yyyy" }}
      </p>

      <p class="package-qty">Quantity: {{ package.quantity }}</p>
      <p class="package-price">Price: {{ package.unit_price }} MMK</p>
    </div>

    <div class="btn-container">
      <button (click)="openAddToCartPopup(package)" class="btn-cart">
        Add to Cart
      </button>
      <button (click)="openBuyNowPopup(package)" class="btn-buy">
        Buy Now
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- "Buy Now" Popup Modal -->
<div id="buyNowPopupModal" [class.hidden]="!isPopupVisible" class="popup">
  <div class="popup-content">
    <span (click)="closeBuyNowPopup()" class="close">&times;</span>
    <div class="popup-body">
      <img
        *ngIf="selectedPackage?.image"
        [src]="'http://localhost:8080' + selectedPackage.image"
        alt="{{ selectedPackage.name }}"
        class="popup-image"
      />
      <div class="popup-info">
        <h3>{{ selectedPackage?.name }}</h3>
        <div class="info">
          <label>Price:</label>
          <p>{{ selectedPackage?.unit_price }} MMK</p>
        </div>
        <div class="info">
          <label>Description:</label>
          <p>{{ selectedPackage?.description }}</p>
        </div>

        <div class="info">
          <label>Expired date:</label>
          <p>{{ selectedPackage?.expired_date | date : "dd-MM-yyyy" }}</p>
        </div>

        <div class="info">
          <label>Available Quantity:</label>
          <p>{{ selectedPackage?.quantity }}</p>
        </div>
        <div class="info">
          <label>Total price:</label>
          <p>
            {{
              (selectedPackage?.unit_price || 0) *
                (selectedPackage?.selectedQuantity || 1)
            }}
            MMK
          </p>
        </div>

        <div class="quantity-container">
          <button (click)="decreaseQuantity(selectedPackage)" class="qty-btn">
            <i class="fa-solid fa-minus"></i>
          </button>
          <span class="quantity-display">{{
            selectedPackage?.selectedQuantity || 1
          }}</span>
          <button (click)="increaseQuantity(selectedPackage)" class="qty-btn">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        <button
          routerLink="/payment"
          class="btn-confirmpurchase"
          (click)="buynow(selectedPackage)"
        >
          Confirm Purchase
        </button>
      </div>
    </div>
  </div>
</div>

<!-- "Add to Cart" Popup Modal -->
<div
  id="addToCartPopupModal"
  [class.hidden]="!isCartPopupVisible"
  class="popup"
>
  <div class="popup-content">
    <span (click)="closeAddToCartPopup()" class="close">&times;</span>
    <div class="popup-body">
      <img
        *ngIf="selectedCartPackage?.image"
        [src]="'http://localhost:8080' + selectedCartPackage.image"
        alt="{{ selectedCartPackage.name }}"
        class="popup-image"
      />
      <div class="popup-info">
        <h3>{{ selectedCartPackage?.name }}</h3>
        <div class="info">
          <label>Price:</label>
          <p>{{ selectedPackage?.unit_price }} MMK</p>
        </div>
        <div class="info">
          <label>Description:</label>
          <p>{{ selectedPackage?.description }}</p>
        </div>
        <div class="info">
          <label>Expired date:</label>
          <p>{{ selectedPackage?.expired_date | date : "dd-MM-yyyy" }}</p>
        </div>
        <div class="info">
          <label>Available Quantity:</label>
          <p>{{ selectedPackage?.quantity }}</p>
        </div>
        <div class="info">
          <label>Total price:</label>
          <p>
            {{
              (selectedCartPackage?.unit_price || 0) *
                (selectedCartPackage?.selectedQuantity || 1)
            }}
            MMK
          </p>
        </div>

        <div class="quantity-container">
          <button
            (click)="decreaseQuantity(selectedCartPackage)"
            class="qty-btn"
          >
            <i class="fa-solid fa-minus"></i>
          </button>
          <span class="quantity-display">{{
            selectedCartPackage?.selectedQuantity || 1
          }}</span>
          <button
            (click)="increaseQuantity(selectedCartPackage)"
            class="qty-btn"
          >
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        <button (click)="confirmAddToCart()" class="btn-confirmpurchase">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
