<app-navigation></app-navigation>

<!-- Filter Section -->
<div class="filter-container">
  <div class="filter-item">
    <label for="searchText">Business Name</label>
    <input
      type="text"
      id="searchText"
      [(ngModel)]="searchText"
      (input)="filterPackages()"
      placeholder="Search by business"
    />
  </div>
  <div class="filter-item">
    <label for="minPrice">Min Price</label>
    <input
      type="number"
      id="minPrice"
      [(ngModel)]="minPrice"
      (input)="filterPackages()"
      placeholder="Min Price"
    />
  </div>
  <div class="filter-item">
    <label for="maxPrice">Max Price</label>
    <input
      type="number"
      id="maxPrice"
      [(ngModel)]="maxPrice"
      (input)="filterPackages()"
      placeholder="Max Price"
    />
  </div>
</div>

<!-- Packages Section -->
<div
  *ngIf="submittedPackage && submittedPackage.length > 0"
  class="packages-container"
>
  <div class="package-card" *ngFor="let package of submittedPackage">
    <div *ngIf="package.image" class="package-image-container">
      <img
        [src]="'http://localhost:8080' + package.image"
        alt="Package Image"
        class="package-image"
      />
    </div>
    <div class="package-info">
      <h3 class="package-name">{{ package.name }}</h3>
      <p class="package-qty">Quantity: {{ package.quantity }}</p>
      <p class="package-price">Price: {{ package.unit_price }} MMK</p>
    </div>
    <!-- Quantity adjustment container -->
    <div class="quantity-container">
      <button (click)="decreaseQuantity(package)" class="qty-btn">
        <i class="fa-solid fa-minus"></i>
      </button>
      <span class="quantity-display">{{ package.selectedQuantity || 1 }}</span>
      <button (click)="increaseQuantity(package)" class="qty-btn">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div class="btn-container">
      <button class="btn-cart">Add to cart</button>
      <button class="btn-buy">Buy now</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
