<div class="app-container">
  <div class="sidebar-container">
    <app-adm-sidebar
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-adm-sidebar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i
        [class]="
          isSidebarCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'
        "
      ></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    <div style="display: flex; align-items: center">
      <h3 style="text-align: left; margin-right: 10px">Categories List</h3>
      <div class="dropdown">
        <button class="dropdown-button" (click)="Dropdown()">▼</button>
        <div
          class="add-btn-container"
          [style.display]="isDropdownVisible ? 'block' : 'none'"
        >
          <button class="add-button" routerLink="/adm-business">
            Business List
          </button>
          <button class="add-button" routerLink="/adm-servicelist">
            Service List
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Category Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of showCategory; let i = index">
              <td>{{ i + 1 }}</td>
              <!-- Numbering -->
              <td>{{ category.name }}</td>
              <td class="edit-btn-container">
                <button
                  class="action-btn edit-btn"
                  [routerLink]="['/Category/edit', category.id]"
                >
                  Edit
                </button>
                <button
                  class="action-btn delete-btn"
                  [routerLink]="['/Category/delete', category.id]"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="floating-btn-dropdown">
      <button class="floating-add-btn" (click)="toggleDropdown()">
        <i class="fas fa-plus"></i>
      </button>
      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <button class="dropdown-item" routerLink="/Business/create">
          Add Business
        </button>
        <button
          class="dropdown-item"
          routerLink="/adm-business/Category/create"
        >
          Add Category
        </button>
        <button class="dropdown-item" routerLink="/Service/create">
          Add Service
        </button>
      </div>
    </div>
  </main>
</div>
